#container{
    background-color: #ccc;
    max-width: 800px;
    margin: 20px auto 0;
    padding: 10px;
}

.content{
    background-color: #111;
    border: 1x solid #fff;
    width: 100px;
    height: 100px;
    color: #fff;
    text-align: center;
    line-height: 98px;
    margin: 15px;

    display: inline-block;
}

.hidden{
    visibility: hidden;
}