#cabecalho{
    text-align: center;
    color: blue;
}

h2{
    color: blueviolet;
}
h3{
    color: brown;
}
main p{
    text-align: justify;
    line-height: 1.5;
}
#secao1 p{
    color: chartreuse;
}
#secao2 p{
    color: rgb(56, 22, 24);
}
#rodape{
    text-align: center;
    color: #83118d;
}
