*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cabecalho{
    border: 1px solid rgb(88, 101, 223);
    background-color: #e5e8f0;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
    border-radius: 8px;

}
body{
    text-align: justify;
    margin-left: 30px;
    font-family: sans-serif;
    line-height: 1.5;
}
.container{
    max-width: 600px;
    margin: 0 auto;
}
.noticia{
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}
.rodape{
    text-align: center;
}