 body{
        background-color: rgb(31, 26, 26);
        font-family: Arial, Helvetica, sans-serif;
    }

    h1{
        text-align: center;
        color: blueviolet;
    }

    h2{
        color: rgb(58, 158, 126);
    }

    h3{
        color: chartreuse;
    }

    p{
        text-align: justify; color: rgb(226, 57, 141)
    }