body{
    background-color: lightcoral;
    background-color: rgba(182, 13, 13, 0.486);
    background-color: #eb5a5a;
    background-color: hsl(0, 91%, 43%);
    background-color: rgba(212, 17, 17, 0.507);
}